*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: linear-gradient(rgba(60, 44, 205, 0.734), transparent);
    background-repeat: no-repeat;
}